    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.numero-pagina {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 13px;
    color: #6b4423;
    font-weight: bold;
    pointer-events: none;
}
.seletor-container {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.icone-left,
.icone-right,
.icone-circulo {
    cursor: pointer;
}

#ativa svg {
    fill: black;
}