.item-container {
    border-bottom: 1px solid black;
    background-color: white;
    color: black;
    min-height: 35px;
    position: relative;
    width: 100%;
    font-size: 18px;
    height: 6vh;
}

.insumo-grupo {
    font-size: 18px;
    display: flex;
    width: 95%;
    justify-content: flex-end;
}

#active {
    background-color: black;
}

.item-nome {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid #e2c87a;
    height: 80%;
    background-color: #f5edd8;
    width: 100%;
    gap: 10px;
    font-size: 16px;
}

.icone-insumo {
    position: relative;
    left: 5%;
}


#warning {
    background-color: #FFE7E7;
}

.icone {
    cursor: pointer;
}

.controle-container {
    display: flex;
    justify-content: center;
}

.controle {
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-around;
}

.botao-cadastrar {
    position: relative;
}

.botao-cadastrar .button-container{
    background-color: transparent;
    border: 0;
    width: 100%;
}