.search-container {
    display: flex;
    align-items: center;
    height: 5vh;
    width: 30vw;
    background-color: white;
    margin: 10px;
    border-color: none !important;
}

.search{
    display: flex;
    align-items: center;
    height: 100%;
    width: 90%;
}

.search-icon{
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
}

.search-input {
    margin: 0;
    border: 0;
    border-radius: 0;
    color: black;
    height: 100%;
    padding: 0 10px;
}

.search-input:focus {
    outline: none;
    box-shadow: none;
}