.container-card-conf {
    background-color: white;
    display: flex;
    color: black;
    flex-direction: column;
    width: 35vw;
    height: 20vh;
    justify-content: space-evenly;
    border-radius: 2px;
}

.titulo-card-conf {
    font-size: large;
}

@media (max-width: 480px) {
    .container-card-conf{
        width: 70%;
    }

    .container-card-conf .botoes .button-container {
        width: 30%;
        display: flex;
    }

    .container-card-conf .botoes .button-container .button-value {
        font-size: 16px;
    }

    .container-card-conf .titulo-card-conf {
        display: flex;
        justify-content: center;
        font-size: 14px;
    }

}