.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  background: #c92c2c;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  margin-right: 0;
  padding: 10px;
  margin-right: 0;
}

.btn:hover {
  border: 1.5px solid;
  border-color: blue;
  opacity: 0.9;
}

.status {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 5px 20px;
  flex-shrink: 0;
}

.card {
  background-color: white;
  border: 1px solid gold;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.30);
  padding: 10px;
  height: 125px;
  border-radius: 5px;
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.numero {
  font-size: 25px;
  margin-top: 5px;
  font-weight: bold;
  color: black;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
#root {
  height: 100%;
  width: 100%;
}

svg.lucide {
  display: inline-block;
  flex-shrink: 0;
  vertical-align: middle;
  stroke: currentColor;
  fill: none;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./images/fundo-tela.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  background: white;
  padding: 20px;
  border-radius: 5px;
  border: 1.5px solid gold;
  text-align: center;
}

.titulo {
  font-size: 26px;
  margin-bottom: 10px;
  font-weight: bold;
  color: black;
}

.subtitulo {
  font-size: 18px;
  margin-bottom: 15px;
  color: black;
}

.subtitulo2 {
  font-size: 14px;
  margin-bottom: 15px;
  color: black;
}

input {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
  background-color: white;
  color: rgb(175, 175, 175);
  border: 1.5px solid rgb(175, 175, 175);
}

.busca {
  width: auto;
  height: 35px;
}

.auth-switch {
  color: black;
  margin-top: 15px;
  font-size: 14px;
}

.auth-switch span {
  color: 1.5px solid gold;
  cursor: pointer;
  font-weight: bold;
}

.input-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  border: none;
  width: 100%;
  margin-bottom: 10px;
}

.input-wrapper1 {
  display: flex;
  align-items: center;
  position: relative;
  border: none;
  width: 100%;
}

.selectNome, .selectMarca, .selectCategoria, .selectUnidade, .selectCategoriaBoleto, .selectPedido {
  width: 100%;
  padding-right: 20px;
  height: 40px;
  border-radius: 5px;
  border: 1.5px solid rgb(175, 175, 175);
  background-color: #fff;
  color: #1f2937;
}

.selectNome::placeholder,
.selectMarca::placeholder,
.selectCategoria::placeholder,
.selectUnidade::placeholder,
.selectCategoriaBoleto::placeholder,
.selectPedido::placeholder {
  color: #6b7280;
}

.input-wrapper input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding: 10px 40px 10px 10px;
  margin-bottom: 15px;
  border: 1.5px solid rgb(175, 175, 175);
}

.eye-btn, .eye-btn1, .eye-btn2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  border: none;
  background: transparent !important;
  color: black;
  cursor: pointer;
  padding: 0 0 0 0;
}

/* Responsividade */
/* Tela entre 991px e 1390px */

@media (max-width: 1390px) {

  .container {
    max-width: 1390px;
    min-height: 100vh;
  }

  
  .card {
    height: 110px;
  }

  .numero {
    font-size: 20px;
  }

}

/* Tela entre 768px - 990px */
@media (max-width: 990px) {
  .status {
    gap: 5px;
  }

  .card {
    padding: 8px;
    height: 100px;
  }

  .numero {
    font-size: 18px;
  }

}

/* Tela menor que 768px */
@media (max-width: 768px) {

  .container {
    justify-content: center;
    align-items: center;
  }

  .box{
    margin: 10px;
  }

  .status {
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    flex: 0 0 48%;
    margin-bottom: 10px;
    height: 110px;
  }

  .numero {
    font-size: 20px;
  }

  .filtros {
    flex-direction: column;
    align-items: stretch;
  }

  .filtros select,
  .busca {
    width: 100%;
  }

  .busca {
    display: flex;
    align-items: center;
    gap: 6px;
    border: 1px solid #ccc;
    padding: 6px 8px;
    border-radius: 6px;
    width: 100%;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  gap: 10px;
}

.btn-voltar {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  color: #000;
}

.form-group1 {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.form-group2 {
  height: 65px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 6px;
  align-items: flex-start;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: black;
}

.form-group2 input{
  width: 140px;
  font-size: 14px;
  color: black;
}

.botao-upload {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50px;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  gap: 5px;
  text-align: left;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal {
  background: white;
  padding: 24px;
  border-radius: 12px;
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  margin-bottom: 10px;
  color: black;
}

.modal-header button {
  background: white;
  border-radius: 8px;
  border: 1px solid #ccc;
  color: black;
}

.modal-input {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

.modal-actions {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.btn-cancelar1, .btn-salvar1, .btn-ok{
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  background: linear-gradient(135deg, #c92c2c, #9f2020);
  border-radius: 4px;
  padding: 5px;
}

.modal-sucesso {
  display: flex;
  flex-direction: column;
  align-items: center;      
  justify-content: center;
  text-align: center;
  gap: 12px;
}

.icone-sucesso {
  color: green;
}

.caixa {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  max-width: 350px;
  background: white;
  padding: 20px;
  border: none;
  gap: 5px;
}

/* Tela menor que 480px */
@media (max-width: 480px) {

  .container {
    min-width: 80%;
    justify-content: center;
    align-items: center;
  }

  .box {
    min-width: 80%;
    background: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin: 10px;
  }

  .caixa {
    min-width: 60%;
    display: flex;
    flex-direction: column;
    margin: 5px;
  }

  .card {
    flex: 0 0 100%;
  }
}
