.dashboard {
  font-family: Arial, sans-serif;
  padding: 10px;
  background-color: #f8f8f8;
  color: #333;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image:url(./images/LogoToomate.png) ;
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff; 
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
}

.user-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image:url(./images/persona.png) ;
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff; 
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
}

.restaurant-info {
  flex-grow: 1;
  text-align: center;
}

.restaurant-name {
  font-weight: bold;
}

.menu {
  display: flex;
  /* justify-content: center; */
  gap: 15px;
  margin: 20px 0;
}

.menu button {
  background: #b0b0b0;
  width: 140px;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.menu button:hover {
  background: #999;
}

.stats {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  background: linear-gradient(to right, #ccc, #666);
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  flex: 1 1 200px;
  min-width: 200px;
}

.content {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 20px;
}

.chart {
  flex: 3;
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #555;

  background-image: url(./images/grafico.png);
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: center;
  min-width: 550px;
  min-height: 250px; 
  max-height: 400px; 
}

.notifications {
  flex: 1;
  background: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.alerta-btn {
  display: block;
  height: 60px;
  width: 100%;
  background: linear-gradient(to right, #aaa, #444);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
  font-weight: bold;
}

.alerta-btn:hover {
  opacity: 0.9;
}
