.kpi-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.kpi-container-interior {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: 100%;
}

.kpi-container-interior .status {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    padding: 0;
}

.tabela-container {
    display: flex;
    align-items: center;
    height: 50vh;
    width: 95%;
    flex-direction: column;
}

.tabela-container .elemento-container {
    width: 100%;
}

.tabela-container .linha-estoque {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.tabela-insumo-container {
    width: 100%;
}

.tabela-interior {
    width: 100%;
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 90%;
}